@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5">
    <h1 class="display-4 mt-5">SELF TANNING TIME</h1>
    <hr />

    <div class="cards mt-5">
        <div class="row mt-5 col-12 d-flex justify-content-center">

            <div class="col-3">
                <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://www.bodystore.com/dw/image/v2/BDJH_PRD/on/demandware.static/-/Sites-hsng-master-catalog/default/dw6a587712/Nya_produktbilder/Ida_warg/A90004_IdaWarg_Instant-Self-Tanning-Mousse-Medium-Dark_150ml_0821.jpg?sw=655&sh=655&sm=fit&sfrm=png" class="card-img-top" alt="...">
                            <h5 class="card-title mt-2">Self tanning mousse</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://www.bodystore.com/dw/image/v2/BDJH_PRD/on/demandware.static/-/Sites-hsng-master-catalog/default/dwee1a09a2/Nya_produktbilder/Ida_warg/Ida_warg/A90001_SelfTanning_Spray-150ml_mars21.jpg?sw=655&sh=655&sm=fit&sfrm=png" class="card-img-top" alt="...">
                            <h5 class="card-title mt-2">Self tanning spray</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://www.bodystore.com/dw/image/v2/BDJH_PRD/on/demandware.static/-/Sites-hsng-master-catalog/default/dw52dc7d71/Nya_produktbilder/Ida_warg/A90028-Self-Tanning-Water-Mist_75ml_0821.jpg?sw=655&sh=655&sm=fit&sfrm=png" class="card-img-top" alt="...">
                            <h5 class="card-title mt-2">Self tanning water mist</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://www.bodystore.com/on/demandware.static/-/Sites-bodystore-storefront-catalog/default/dwa61c9201/IDAWARG.png" class="card-img-top mb-2" alt="...">
                            <h5 class="card-title mt-2">Ida Warg Beauty</h5>
                            <p class="card-text p-3">IDA WARG Beauty stands for modern beauty products with a focus on well-being. All products are 100% vegan, non-animal tested and manufactured in the Nordic region.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>
